*{
    margin: 0;
    padding: 0;
}

#topo {
    background-color: #D0D0D0;
    background-size: justify;
    font-family: 'Courier New', Courier, monospace

}

#logo {
    background-color: #D0D0D0;
    width: 260px;
    height: 160px;
}

#titulo {
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace
}

#subtitulo {
    text-align: center;
    color: grey;
    font-family: 'Courier New', Courier, monospace
}
/* inicio da aplicaçãod e estilo no menu */

nav {
    width: 100%;
    height: auto;
    background-color: #B20000;
    float: left;
}
nav a {
    color: white;
}


#links {
    list-style: none;
    border: 1px solid #fff;
    padding-left: 4%;
}
#links li {
    position: relative;
    float: left;
    border-right: 1px solid #fff ;
}

#links li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

#links li a:hover{
    background-color: white;
    color: #B20000;
    transition: 0.7s;
}


/*Inicio submenu*/
#links li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #B20000;
    display: none;
}

#links li:hover ul {
    display: block;
}

#links li ul li {
    border: 1px solid #fff;
    display: block;
    width: 170px;
}
/* FIM MENU */

main{
    background-color: white;
    width: 100%;
    min-height: 600px;
}

footer {
    background-color: #D0D0D0;
    text-align: center;
    width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace
}

body {
    font-family: 'Courier New', Courier, monospace;
}

section{
    text-align: center;
}
